@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
      "SF Pro Icons", "Helvetica Neue", Arial, sans-serif;
  }
}
